.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.not-found-image {
  max-width: 100%;
  height: auto;
}

.text-container {
  width: 100%;
}

.not-found-title {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: lightcoral;
}

.not-found-description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: rgb(8, 8, 85);
  font-size: 1.2rem;
  font-weight: 700;
}

.back-home-button {
  background-color: rgb(17, 134, 129);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.back-home-button:hover {
  background-color: rgb(14, 109, 104);
}

@media (min-width: 768px) {
  .not-found-container {
    flex-direction: row;
    text-align: left;
  }

  .image-container {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .text-container {
    max-width: 400px;
  }
}
